body {
  background-color: white;
  margin: 0;
}

.container {
  margin: auto;
  height: auto;
}

#cv {
 // width: 100%;
  //height: 100%;
  border: 1px solid black;
}

div#data {
  //visibility: hidden;
}

